<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599676806559-de8ta2up2nq060idd933g662ph9sf1ef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599676806559-de8ta2up2nq060idd933g662ph9sf1ef</string>
	<key>API_KEY</key>
	<string>AIzaSyCO9QOrCcMP00Ldt1RKEvZ93IBzzdtUeaE</string>
	<key>GCM_SENDER_ID</key>
	<string>599676806559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.mizialmeida.teste-Mizia</string>
	<key>PROJECT_ID</key>
	<string>applogin-teste</string>
	<key>STORAGE_BUCKET</key>
	<string>applogin-teste.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599676806559:ios:8c3ec45236892ff83149aa</string>
	<key>DATABASE_URL</key>
	<string>https://applogin-teste.firebaseio.com</string>
</dict>
</plist>