<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262658093720-erkd97nauvtmr3ou7cf553mpfnvp4f8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262658093720-erkd97nauvtmr3ou7cf553mpfnvp4f8m</string>
	<key>API_KEY</key>
	<string>AIzaSyBWTVXzbRww-Bj2Zq3-UQ0U8lPXDwYlTEw</string>
	<key>GCM_SENDER_ID</key>
	<string>262658093720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.jeffrey.Jeffrey</string>
	<key>PROJECT_ID</key>
	<string>jeffrey-app-4e781</string>
	<key>STORAGE_BUCKET</key>
	<string>jeffrey-app-4e781.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262658093720:ios:66c2ea72d85215a5dc96ed</string>
	<key>DATABASE_URL</key>
	<string>https://jeffrey-app-4e781.firebaseio.com</string>
</dict>
</plist>